@charset "utf-8";
/* CSS Document */

html,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
p {
	font-size: 16px;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 1em; /* on ajoute un espace avant chaque paragraphe */
	;
	margin-left: 3.5em;
	margin-right: 3.5em;
	text-align: left;
	margin-bottom: 0px;
	line-height: 1.4em;
  letter-spacing:0.01em;
}


h1 {   /* Titre des pages, accueil, description etc... */

  font-size: 18px;
	font-variant: small-caps;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 1em; /* on ajoute un espace avant chaque paragraphe */

	/*line-height: 1.2em;  */
	margin-left: 10px;


}

h6 {
	font-size: 10px;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fdfdfd;
	margin-left: 0px;
	text-align: center;
}




article {    /*  fond texte des pages  */
	background-color: #fdfdfd;
	width: 82%;
	/*line-height: 1.2em;  */
	margin-left: auto;
	margin-right: auto;
	border-radius:20px 20px 20px 20px;
}







hr  {  /* ligne separateur fr/engl */
	width: 20%;
	margin: auto;
}

.retrait {   /* retrait de texte */
margin-left:15%;
}

.style-titre {   /* Titre du site 'manulex Morpho' */
	font-size: 28px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	text-shadow: 2px 2px 0px #CCC;
	letter-spacing: 7px;
	margin-bottom: 16px;
	margin-left: auto;
	margin-top: 15px;
	font-style: normal;
	font-weight: 700;
	margin-right: auto;
	text-align: center;

}

.style-langue {
	font-size: 14px;
	margin-left: 10px;
	color: #8695AC;
	margin-bottom: 0px;
} 


table {     /* pour tables phonetique, morphologie */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	margin: auto;

}


/*
Style menu ci-dessous
*/
	
#menu-demo2, #menu-demo2 ul{
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	padding-top: 0px;
}

#menu-demo2 li{
display:inline-block;
position:relative;
border-radius:2px 2px 2px 2px;

}
#menu-demo2 ul li{
	display: inherit;
	border-radius: 0;
}
#menu-demo2 ul li:hover{
border-radius:0;
}
#menu-demo2 ul li:last-child{
border-radius:0 0 8px 8px;
}
#menu-demo2 ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
/*-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s; */
}
#menu-demo2 li:hover ul{
max-height:25em;
}
/* background des liens menus */
#menu-demo2 li:first-child{
background-color: #ffffff;
background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
}
#menu-demo2 li:nth-child(2){
background-color: #ffffff;
background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
}
#menu-demo2 li:nth-child(3){
background-color: #ffffff;
background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
}
#menu-demo2 li:nth-child(4){
background-color: #ffffff;
background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
}
#menu-demo2 li:nth-child(5){
background-color: #ffffff;
background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
}
#menu-demo2 li:nth-child(6){
background-color: #ffffff;
background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
}
#menu-demo2 li:nth-child(7){
background-color: #ffffff;
background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
}
#menu-demo2 li:last-child{
background-color: #ffffff;
background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
}



/* background des liens sous menus */
#menu-demo2 li:first-child li{
background:#ffffff;
}
#menu-demo2 li:nth-child(2) li{
background:#ffffff;
}
#menu-demo2 li:nth-child(3) li{
background:#ffffff;
}

/* background des liens menus et sous menus au survol */
#menu-demo2 li:first-child:hover, #menu-demo2 li:first-child li:hover{
background:#ffffff;
}
#menu-demo2 li:nth-child(2):hover, #menu-demo2 li:nth-child(2) li:hover{
background:#fcfcfc;
}
#menu-demo2 li:nth-child(3):hover, #menu-demo2 li:nth-child(3) li:hover{
background:#fcfcfc;
}
#menu-demo2 li:nth-child(4):hover, #menu-demo2 li:nth-child(2) li:hover{
background:#ffffff;
}
#menu-demo2 li:nth-child(5):hover, #menu-demo2 li:nth-child(3) li:hover{
background:#ffffff;
}
#menu-demo2 li:nth-child(6):hover, #menu-demo2 li:nth-child(2) li:hover{
background:#ffffff;
}
#menu-demo2 li:nth-child(7):hover, #menu-demo2 li:nth-child(3) li:hover{
background:#ffffff;
}
#menu-demo2 li:last-child:hover, #menu-demo2 li:last-child li:hover{
background:#ffffff;
}
/* les a href */
#menu-demo2 a{
	text-decoration: none;
	display: block;
	padding: 1px 13px 5px;
	color: #575050;
	font-family: Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	font-size: 16px;
	margin-left: 1px;
	margin-right: px;	
}
#menu-demo2 ul a{
	padding: 8px 0;
	color: #575050;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-variant: normal;
}
#menu-demo2 li:hover li a{
	color: #575050;
	/* text-transform: inherit; */
	background: #e3e3e3;
	text-decoration: none;
}
#menu-demo2 li:hover a, #menu-demo2 li li:hover a{
	color: #3999b5;
	text-decoration : underline;
}
	
	
	/*Tablet View*▼/

	
